<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UnifiControllerUrl" value="https://172.16.0.2:8443" />
    <add key="UnifiUsername" value="admin" />
    <add key="UnifiPassword" value="" />
    <add key="UnifiSite" value="default" />
    <add key="PortalUrl" value="http://lepalmier.local" />
    <add key="GuestNetworkGateway" value="172.16.40.1" />
    <add key="LogPath" value="C:\Logs\AuthorizeUnifi\" />
    <add key="EnableSSL" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <authentication mode="None" />
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
